flows.json
[
    {
        "id": "6ea9182329d89f72",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "2f8e318af3c6dadf",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0b2e4ce6c754e121",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "97f91ab4ef235315",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "d61732e3cd7549e5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d61732e3cd7549e5",
        "type": "ui_tab",
        "name": "ProjetIOT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "798fb6f1a00ae454",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5eddc102d5fc2575",
        "type": "mqtt-broker",
        "name": "Broker",
        "broker": "27cc61dbaffc4da08cd0081cabd8cf01.s2.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d6fbb82a97c9abb3",
        "type": "ui_tab",
        "name": "tp3",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8b63216bf5b090fe",
        "type": "ui_group",
        "name": "tp3",
        "tab": "d6fbb82a97c9abb3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "35968abae27a1e18",
        "type": "inject",
        "z": "6ea9182329d89f72",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "message",
        "payloadType": "str",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "b53d125d96a926e7",
                "0c3983fff9b5168b"
            ]
        ]
    },
    {
        "id": "b53d125d96a926e7",
        "type": "mqtt out",
        "z": "6ea9182329d89f72",
        "name": "",
        "topic": "inTopic",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0b2e4ce6c754e121",
        "x": 340,
        "y": 300,
        "wires": []
    },
    {
        "id": "7fd77a75e2c6937c",
        "type": "mqtt in",
        "z": "6ea9182329d89f72",
        "name": "",
        "topic": "outTopic",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0b2e4ce6c754e121",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 400,
        "wires": [
            [
                "a863ed3bf95a4c0a",
                "c3232137ce1fa09c",
                "ed66a9cd568e5ff3"
            ]
        ]
    },
    {
        "id": "0c3983fff9b5168b",
        "type": "debug",
        "z": "6ea9182329d89f72",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 200,
        "wires": []
    },
    {
        "id": "a863ed3bf95a4c0a",
        "type": "debug",
        "z": "6ea9182329d89f72",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 400,
        "wires": []
    },
    {
        "id": "c3232137ce1fa09c",
        "type": "ui_gauge",
        "z": "6ea9182329d89f72",
        "name": "Humidité",
        "group": "97f91ab4ef235315",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidité",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#e70404",
            "#57c200",
            "#0099b8"
        ],
        "seg1": "30",
        "seg2": "60",
        "className": "",
        "x": 560,
        "y": 460,
        "wires": []
    },
    {
        "id": "ed66a9cd568e5ff3",
        "type": "ui_chart",
        "z": "6ea9182329d89f72",
        "name": "",
        "group": "97f91ab4ef235315",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "ea9aa13bdbc782db",
        "type": "mqtt in",
        "z": "2f8e318af3c6dadf",
        "name": "",
        "topic": "TD02_GP08/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5eddc102d5fc2575",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 220,
        "wires": [
            [
                "4eb5a6fb8c30d34d"
            ]
        ]
    },
    {
        "id": "859756f980acdc02",
        "type": "mqtt in",
        "z": "2f8e318af3c6dadf",
        "name": "",
        "topic": "TD02_GP08/relhum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5eddc102d5fc2575",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 420,
        "wires": [
            [
                "10fc1b0ef34c8532"
            ]
        ]
    },
    {
        "id": "4eb5a6fb8c30d34d",
        "type": "ui_gauge",
        "z": "2f8e318af3c6dadf",
        "name": "",
        "group": "8b63216bf5b090fe",
        "order": 0,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Température",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "30",
        "className": "",
        "x": 470,
        "y": 220,
        "wires": []
    },
    {
        "id": "10fc1b0ef34c8532",
        "type": "ui_gauge",
        "z": "2f8e318af3c6dadf",
        "name": "",
        "group": "8b63216bf5b090fe",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "wave",
        "title": "Humidité",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 460,
        "y": 420,
        "wires": []
    }
]